  body {
    background-image: url("https://i.pinimg.com/originals/26/b5/55/26b5551ba10f013a335e91b98f530d51.png");
    font-family: 'Comfortaa', cursive;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .divTable {
    display: flex;
    float: left;
    justify-content: center;
  }

  .divTableRow {
    display: table-row;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
  }

  .divTableCell,
  .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
  }

  .divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }

  .divTableBody {
    display: table-row-group;
    padding-right: 75px;
  }
  
  .divTableCell:nth-child(odd) {
    background-color: gainsboro;
  }

  .container {
    background-color: rgb(176, 255, 255);
    align-items: center;
    border: solid;
    border-width: thick;
  }
  
  p {
    font-size: larger;
  }

  input {
    max-width: -webkit-fill-available;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3rem;
    padding: 1px;
    display: list-item;
    margin: auto;
  } 

  label, ::placeholder{
    font-size: large;
  }

  form {
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 10px;
  } 

  .pokemon-form {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 0, 0);
    padding: 30px;
    border: solid;
    border-width: 12px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 50px;
  } 

  .image-poke {
    height: 110px;
  }

  form.move-form{
    background-color: black;
  }
  
  .mini-pokemon-form {
    display: flex;
    background-color: rgb(255, 0, 0);
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  } 

  .trainer {
    text-align: center;
    font-size: large;
    border: solid;
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }

  .trainer-content {
    background-color: red;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
  }

  .pokemon-container {
    display: flex;
    height: 278px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(176, 255, 255);
    border: solid;
    border-radius: 30px;
    margin: auto;
    overflow-y: auto;
  }

  .direct-profile:hover {
    text-decoration: underline red;
    cursor: pointer;
  }

  .pokemon-name{
    margin-top: 30px;
  }
  .sprite {
    height: 190px;
    padding-left: 50px;
    justify-content: center;
  }

  .pokemon-card{
    text-align: center;
    background-image: linear-gradient(white, yellow);
    border-radius: 20px;
    margin: 4px;
  }

  .login-container {
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }

/* Capture button */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
  .release-button{
    background-color: #222;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    padding-bottom: 3px;
  }

  .release-button:hover{
    background-color: red;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    padding-bottom: 3px;
  }
    

  .stats-button {
    background-color: #222;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .stats-button:hover {
    background-color: goldenrod;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .party-sprites {
    height: 100px;
  }
  
  .pokedex {
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .move-desc-area {
    background-color: aquamarine;
    font-family: 'Comfortaa', cursive;
    height: 50px;
  }

  .text-area-search {
    background-color: aquamarine;
    width: 300px;
    /* height: 0px; */
  }

  .creator-text {
    text-align: center;
    padding-top: 50px;
  }

  .login-form {
    align-content: center;
  }

  .signup-container { 
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }

  .signup-form {
    align-content: center;
  }

  .login-page {
    margin-top: 80px;
    background-color: white;
    border: solid black;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .forgot-pass {
    font-size: smaller;
  }

  .signup-page {
    margin-top: 80px;
    background-color: white;
    border: solid black;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .home-page {
    text-align: center;
    margin-top: 80px;
    background-color: whitesmoke;
    border: solid black;
    border-radius: 50px;
  }

  .home-page-logout{
    text-align: center;
    margin-top: 80px;
    border-radius: 50px;
    background-color: whitesmoke;
    border: solid black;
  }

  .navbar-master .navlinks{
    width: 200px;
    display: inline;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: larger;
  }

  .navlinks.active {
    color: red;
  }

  .navlinks:hover {
      text-decoration: underline red;
  }
  .invalid-search{
    text-align: center;
  }
  .info-container {
    text-align: center;
    background-color: rgb(255,0,0);
    border: solid;    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .info-specs {
    justify-content: space-between;
    background: repeating-radial-gradient(#ffffd8, transparent 900px);
    border-radius: 10px;
  }

  .move-list {
    background-color: #ffffd8;
    margin: auto;
    max-height: fit-content;
    max-width: fit-content;
    overflow: scroll;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  #x-button{
    color: red;
    padding-left: 10px;
    font-size: smaller;
  }
  
  .move-container {
    background-color: black;
    height: 300px;
    overflow-y: auto;
    margin: 10px;
    border-radius: 25px;
  }

  .move-container-empty {
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    margin: 10px;
    border-radius: 50px;
  }

  .stats-table {
    background-color: white;
    margin: auto;
    width: fit-content;
  }

  .sort-button {
    color: white;
    background-color: #222;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 16px;
  }