  body {
    background-image: url("https://i.pinimg.com/originals/26/b5/55/26b5551ba10f013a335e91b98f530d51.png");
    background-size: cover; 
    background-repeat: repeat-y;
    font-family: 'Comfortaa', cursive;;
  }
  .divTable {
    display: table;
    max-width: 20em;
    float: right;
    display: flex;
    align-items: center;
  }
  .divTableRow {
    display: table-row;
  }
  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
  }
  .divTableCell,
  .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
  }
  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
  }
  .divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }
  .divTableBody {
    display: table-row-group;
  }
  
  .divTableCell:nth-child(odd) {
    background-color: gainsboro;
  }
  
  .container {
    display: flex;
    opacity: 0.9;
    background-color: whitesmoke;
    justify-content: center;
  }
  .home-page {
    text-align: center;
  }
  
  img {
    height: 8rem;
  }
   
  input {
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    display: list-item;
    margin: auto;
  } 

  form {
    text-align: center;
    background-color: rgb(255, 0, 0);
    opacity: 80%;
    padding: 20px;
  }

  /* .singup-form {
    text-align: center;
  }
  */

  .navlinks {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-bar{
   text-align: left;
  }

  .trainer {
    text-align: center;
  }
  /* .addForm {
    
  } */

  .pokemon-container {
    display: block;
    flex-wrap: nowrap;
    margin: auto;
    padding: 5%;
    align-content: center;    
  }

  .pokemon-card{
    background-color: rgb(255, 0, 0);
    border: solid black;
    opacity: 80%;

  }

  
  