  body {
    background-image: url("https://i.pinimg.com/originals/26/b5/55/26b5551ba10f013a335e91b98f530d51.png");
    font-family: 'Comfortaa', cursive;
    background-repeat: no-repeat;
  }

  .divTable {
    display: flex;
    float: left;
    justify-content: center;
  }

  .divTableRow {
    display: table-row;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
  }

  .divTableCell,
  .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
  }

  .divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }

  .divTableBody {
    display: table-row-group;
  }
  
  .divTableCell:nth-child(odd) {
    background-color: gainsboro;
  }

  .container {
    background-color: rgb(176, 255, 255);
    padding: 10px;
    border: solid black;
  }

  p {
    font-size: larger;
  }

  img {
    height: 13rem;
  }

  input {
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    display: list-item;
    margin: auto;
  } 

  label, ::placeholder{
    font-size: large;
  }

  form {
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 30px;
  } 

  .pokemon-form {
    display: flex;
    background-color: rgb(255, 0, 0);
    padding: 30px;
    border: solid;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
  } 

  .trainer {
    text-align: center;
    font-size: large;
    border: solid;
    background-color: whitesmoke;
  }

  .trainer-content {
    background-color: red;
    /* margin-bottom: 10px; */
    padding: 20px;
  }

  .pokemon-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(176, 255, 255);
    border: solid;
    border-radius: 30px;
    margin: 15px;
  }

  .user-name{
    margin-top: 30px;
  }

  .pokemon-name{
    margin-top: 30px;
  }
  /* .pokemon-img{
   
  } */

  .pokemon-card{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 360px;
    margin: 10px;
  }

  .pokemon-card:hover {
    background-color: red;
  }

  .login-container {
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }

  .capture-button {
    background-color: black;
  }

  .pokedex {
    padding-top: 30px;
  }

  .login-form {
    align-content: center;
  }

  .signup-container { 
    text-align: center;
    width: 50%;
    margin-left: 25%;
    
  }

  .signup-form {
    align-content: center;
  }

  .login-page {
    background-color: white;
    padding:10px;
    border: solid black;
  }

  .signup-page {
    background-color: white;
    padding:10px;
    border: solid black;
  }

  .home-page {
    text-align: center;
    margin: auto;
    padding: 250px;
    background-color: whitesmoke;
    opacity: 80%;
    border: solid black;
  }

  .home-page-logout{
    text-align: center;
    padding: 250px;
    background-color: whitesmoke;
    opacity: 80%;
    border: solid black;
  }

  .navbar-container {
    background-color: white;
    border: solid black;
    border-bottom: none;
    padding:10px;
    width: 32%;
  }

  .navbar-container-two {
    background-color: white;
    padding:10px;
    width: 16%;
    border: solid black;
    border-bottom: none;
  }

  .navlinks {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:10px;
    width: 32%;
  }

  .navlinks.active {
    color: red;
  }

  .navlinks:hover {
      text-decoration: underline red;
  }

  
